body{
	background: yellow;
	margin: 0 ;
}
	

p{
	background: red;
	padding: 5px;
	color: black;
}

nav ul li{
	background: green;
	margin: auto;
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	

